<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#428BCA" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Sheppy - Smart Home System</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/plugin/materialize/css/materialize.min.css">
</head>

<body id="app">
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <ul class="left">
                <a href="/" class="breadcrumb">Sheppy</a>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">

            <!-- Home light -->
            <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <div style="margin-bottom: 12px;">
                            <span class="card-title">Lampu Rumah</span>
                            <span v-if="homeLight.isActive" class="new badge green" data-badge-caption="">Status: Aktif</span>
                            <span v-else class="new badge red" data-badge-caption="">Status: Mati</span>
                        </div>
                        <p v-if="activities.homeLight.length">
                            <span>Rekaman aktifitas: </span>
                            <a @click="deleteActivity('homeLight')" href="javascript:void(0)">Bersihkan</a>
                            <ul>
                                <li v-for="(item, i) of activities.homeLight" :key="i">
                                    <span>- {{ item }}</span>
                                </li>
                            </ul>
                        </p>
                        <p>
                            <span>Tingkat sensitivitas: </span>
                            <span class="text-white">{{ homeLight.sensitivity || '-' }}</span>
                        </p>
                        <form action="#">
                            <p class="range-field">
                                <input @change="sensitivityOnChange" :value="homeLight.sensitivity" name="homeLight" type="range" min="0" max="255" />
                            </p>
                        </form>
                    </div>
                    <div class="card-action">
                        <a @click="modeOnChange('homeLight')" href="javascript:void(0)">
                            <span v-if="homeLight.auto">MODE: AUTO</span>
                            <span v-else>MODE: MANUAL</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: Home light -->

            <!-- Garden light -->
            <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <div style="margin-bottom: 12px;">
                            <span class="card-title">Lampu Taman</span>
                            <span v-if="gardenLight.isActive" class="new badge green" data-badge-caption="">Status: Aktif</span>
                            <span v-else class="new badge red" data-badge-caption="">Status: Mati</span>
                        </div>
                        <p v-if="activities.gardenLight.length">
                            <span>Rekaman aktifitas: </span>
                            <a @click="deleteActivity('gardenLight')" href="javascript:void(0)">Bersihkan</a>
                            <ul>
                                <li v-for="(item, i) of activities.gardenLight" :key="i">
                                    <span>- {{ item }}</span>
                                </li>
                            </ul>
                        </p>
                        <p>
                            <span>Tingkat sensitivitas: </span>
                            <span class="text-white">{{ gardenLight.sensitivity || '-' }}</span>
                        </p>
                        <form action="#">
                            <p class="range-field">
                                <input @change="sensitivityOnChange" :value="gardenLight.sensitivity" name="gardenLight" type="range" min="0" max="255" />
                            </p>
                        </form>
                    </div>
                    <div class="card-action">
                        <a @click="modeOnChange('gardenLight')" href="javascript:void(0)">
                            <span v-if="gardenLight.auto">MODE: AUTO</span>
                            <span v-else>MODE: MANUAL</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: Garden light -->

            <!-- Montion Detector -->
            <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <div style="margin-bottom: 12px;">
                            <span class="card-title">Deteksi Pergerakan</span>
                            <span v-if="montionDetector.isActive" class="new badge green" data-badge-caption="">Alarm Aktif</span>
                        </div>
                        <p v-if="activities.montionDetector.length">
                            <span>Rekaman aktifitas: </span>
                            <a @click="deleteActivity('montionDetector')" href="javascript:void(0)">Bersihkan</a>
                            <ul>
                                <li v-for="(item, i) of activities.montionDetector" :key="i">
                                    <span>- {{ item }}</span>
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-action">
                        <a @click="modeOnChange('montionDetector')" href="javascript:void(0)">
                            <span v-if="montionDetector.auto">MODE: AKTIF</span>
                            <span v-else>MODE: TIDAK AKTIF</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: Montion Detector -->

            <!-- Automatic Gate -->
            <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <div style="margin-bottom: 12px;">
                            <span class="card-title">Gerbang Otomatis</span>
                            <span v-if="automaticGate.isActive" class="new badge green" data-badge-caption="">Status: Terbuka</span>
                            <span v-else class="new badge red" data-badge-caption="">Status: Tertutup</span>
                        </div>
                        <p v-if="activities.automaticGate.length">
                            <span>Rekaman aktifitas: </span>
                            <a @click="deleteActivity('automaticGate')" href="javascript:void(0)">Bersihkan</a>
                            <ul>
                                <li v-for="(item, i) of activities.automaticGate" :key="i">
                                    <span>- {{ item }}</span>
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-action">
                        <a @click="modeOnChange('automaticGate')" href="javascript:void(0)">
                            <span v-if="automaticGate.auto">MODE: AKTIF</span>
                            <span v-else>MODE: TIDAK AKTIF</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: Automatic Gate -->

        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container white-text center">
                2023 &copy; <a href="/">Sheppy</a> | Smart Home System
            </div>
        </div>
    </footer>

    <script src="/assets/plugin/jquery/jquery.min.js"></script>
    <script src="/assets/plugin/vue3/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/main.js"></script>
    <script src="/assets/plugin/materialize/js/materialize.min.js"></script>
</body>

</html>
