<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#428BCA" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Dashboard - Siswa Panel</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/plugin/materialize/css/materialize.min.css">
</head>

<body id="app">
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <ul class="left">
                <a href="/" class="breadcrumb">Shappy</a>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">

            <!-- Home light -->
            <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <div style="margin-bottom: 12px;">
                            <span class="card-title">Lampu Rumah</span>
                            <span v-if="homeLight.isActive" class="new badge green" data-badge-caption="">Status: Aktif</span>
                            <span v-else class="new badge red" data-badge-caption="">Status: Mati</span>
                        </div>
                        <p>
                            <span>Tingkat sensitivitas: </span>
                            <span class="text-white">{{ homeLight.sensitivity || '-' }}</span>
                        </p>
                        <form action="#">
                            <p class="range-field">
                                <input @change="sensitivityOnChange" :value="homeLight.sensitivity" name="homeLight" type="range" min="0" max="255" />
                            </p>
                        </form>
                    </div>
                    <div class="card-action">
                        <a @click="modeOnChange('homeLight')" href="javascript:void(0)">
                            <span v-if="homeLight.auto">MODE: AUTO</span>
                            <span v-else>MODE: MANUAL</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: Home light -->

            <!-- Garden light -->
            <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <div style="margin-bottom: 12px;">
                            <span class="card-title">Lampu Taman</span>
                            <span v-if="gardenLight.isActive" class="new badge green" data-badge-caption="">Status: Aktif</span>
                            <span v-else class="new badge red" data-badge-caption="">Status: Mati</span>
                        </div>
                        <p>
                            <span>Tingkat sensitivitas: </span>
                            <span class="text-white">{{ gardenLight.sensitivity || '-' }}</span>
                        </p>
                        <form action="#">
                            <p class="range-field">
                                <input @change="sensitivityOnChange" :value="gardenLight.sensitivity" name="gardenLight" type="range" min="0" max="255" />
                            </p>
                        </form>
                    </div>
                    <div class="card-action">
                        <a @click="modeOnChange('gardenLight')" href="javascript:void(0)">
                            <span v-if="gardenLight.auto">MODE: AUTO</span>
                            <span v-else>MODE: MANUAL</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: Garden light -->

            <!-- <div class="col s12">
                <div class="card blue-grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div> -->

        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container white-text center">
                2022 &copy; <a href="/">Shappy</a> | Smart Home System
            </div>
        </div>
    </footer>

    <script src="/assets/plugin/jquery/jquery.min.js"></script>
    <script src="/assets/plugin/vue3/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/main.js"></script>
    <script src="/assets/plugin/materialize/js/materialize.min.js"></script>
</body>

</html>
